{% if info %}
{{info}}
{% endif %}

{% if rooms %}
<br><br>
<h3>Wyszukane sale:</h3>
<table>
    <tr><th>ID</th><th>Nazwa sali</th><th>Projektor</th><th>Dostępność</th></tr>
  {% for room in rooms %}
      <tr>
          <td>{{room.id}}</td>
          <td><a href="/room/details/{{room.id}}">{{room.room_name}}</a></td>
          {% if room.projector == True %}
          <td>Dostępny</td>
          {% else %}
          <td>Niedostępny</td>
          {% endif %}
          {% if room.reserved %}
          <td>Zajęta</td>
          {% else %}
          <td>Dostępna</td>
          {% endif %}
          <td><a href="/room/modify/{{room.id}}">Edytuj</td>
          <td><a href="/room/delete/{{room.id}}">Usun</td>
          <td><a href="/room/reserve/{{room.id}}">Zarezerwuj</td>
      </tr>
  {% endfor %}
</table>
{% else %}
<br><br>
<p style="color: red">Brak wolnych sal dla podanych kryteriów wyszukiwania</p>
{% endif %}
<br><br>
<h3 style="margin-left: 10%">Szukaj sal:</h3>
<form action="/search" method="GET">
<!--    {% csrf_token %}-->
    <label>Nazwa sali:<br>
        <input type="text" name="room_name" placeholder="Wpisz nazwę sali">
    </label><br>
    <label>minimalna pojemnosc sali:<br>
        <input type="number" name="room_cap" placeholder="Wpisz minimalną pojemnośc sali">
    </label><br>
    <label>
      Dostępność rzutnika
      <input type="checkbox" name="projector">
    </label>
    <label>
    <input type="submit" value="Szukaj">
    </label>
</form>
<br><br>

